#--------------------------------------------------
#  Documentation options
#--------------------------------------------------

docu.dir.jsdoc	= 
docu.shell.name	= 

#--------------------------------------------------
#  Transifex options
#--------------------------------------------------

transifex.user		=
transifex.password	=
transifex.url		= 

#--------------------------------------------------
#  Deployment options
#--------------------------------------------------

ftp.name.server.test					= 
ftp.name.server.documentation.user		= 
ftp.name.server.documentation.developer	= 

ftp.name.user.test						= 
ftp.name.user.documentation.user		= 
ftp.name.user.documentation.developer	= 

ftp.password.test						= 
ftp.password.documentation.user			= 
ftp.password.documentation.developer	= 

# FTP server side paths
dir.ftp.test						= 
dir.ftp.documentation.user			= 
dir.ftp.documentation.developer		= 